
.navLinks{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;

}

.mobileNav{
  display: none;
}

.desktopFav{
  background-color: var(--off-white);
  padding: var(--space-sm);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileFav{
  background-color: var(--off-white);
  padding: var(--space-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  right: 5rem;
  /* animation: pulse 1s ease-in-out; */

}

.pulse{
  animation: pulse .6s ease-in-out;
}

.modalContainer{
  display: flex;
  margin: var(--space-xl) auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadein 1s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}


.small{
  background: var(--off-white);
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 2.5rem;
    top: 3rem;
    transform: translateY(100%);
    opacity: 0.75;
    transition: all 0.5s ease;
    overflow: hidden;

}
@keyframes fadein {
  from { opacity: 0}
  to {opacity: 1}
}

@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1.0)}
}

.heartModal{
  width: 100vw;
  height: 100vh;
  top: 0rem;
  transform: translateY(0%);
  margin-left: 0px;
  margin-right: 0px;
  right: 0;
  border-radius: 0;
  background: var(--green);
  transition: all 1s ease;
  opacity: 1;
  position: absolute;
}

.mobileLinksWrapper{
  width: 250px;
  height: 100vh;
  background-color: var(--pink);
  position: fixed;
  top: 0;
  /* z-index: 5; */
  right: -250px;
  display: none;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
}

.mobileLinksCard{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 90vh;
  justify-content: center;
}

.mobileLinksList{
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  /* height: 60vh; */

}

.mobileRegisterWrapper{
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;


}

.loginOptions{
  transition: all 0.5s ease;
  opacity: 0;
  border-radius: var(--radius-sm);
  background-color: var(--green);
  color: var(--dark);
  border: 0;
  padding: var(--space-sm);
  margin: var(--space-md);
  width: 100%;
  max-width: 75px;
}
/* Need to fix animations, cant reuse button component as it has opacity 0 */

.storeButton{
  border-radius: var(--radius-sm);
  background-color: var(--dark);
  color: var(--off-white);
  border: 0;
  padding: var(--space-sm);
  margin: var(--space-md);
  width: 100%;
  max-width: 75px;
}

.activeRegister{
  opacity: 1;
  transition: all ease 0.5s;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.activeRegister2{
  opacity: 1;
  transition: all ease 0.5s;
  transition-delay: var(--delay2)

}

.mobileListItem{
  opacity: 0;
  transform:rotate(-90deg);
  transition: all 0.5s;
  margin: var(--space-lg) 0;
  padding: var(--space-md) var(--space-md);
  background-color: var(--off-white);
  color: var(--dark);
  border-radius: var(--radius-sm);

}

.activeListItem{
  opacity: 1;
  transform: rotate(0);
  transition: all ease;
  transition-duration: 0.5s;
}

.active {
  right: 0;
  transition: all 0.5s;

}

.navLinks > * {
  margin: 0 var(--space-md);
  padding: 0 var(--space-sm);
}

.burger{
  width: 50px;
  height: 50px;
  position: relative;
  border: 5px solid #49b293;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger div{
  height: 8px;
  width: 85%;
  background-color: #fff;
  /* position: absolute; */
  transition: all 0.5s ease;
}

.activeBurger{
  border-radius:50%;
  transition: all 0.3s ease;
}

.firstActive{
  transform: translateY(12px) rotate(45deg);
  transition: all 0.5s ease;
}
.secondActive{
  opacity: 0;
  transition: all 0.2s ease;
}
.thirdActive{
  transform: translateY(-12px) rotate(-45deg);
  transition: all 0.5s ease;
}


@media screen and (max-width: 720px){
  .burger{
    display: flex;
  }
  .navLinks{
    display: none;
  }
  .desktopFav{
    display: none;
  }
  .mobileNav{
    display: flex;
    align-items: center;
  }
  .mobileLinksWrapper{
    display: flex;
  }
  .mobileNav > .mobileFav, .burger  {
    margin: 0 var(--space-md)
  }
  .small{
    position: absolute;
    right: 6.5rem;
    top: 0.5rem;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 414px){
  .burger{
    display: flex;
    z-index: 5;
  }
  .navLinks{
    display: none;
  }
  .desktopFav{
    display: none;
  }
  .mobileNav{
    display: flex;
    align-items: center;
  }
  .mobileLinksWrapper{
    display: flex;
  }
  .mobileNav > .mobileFav, .burger  {
    margin: 0 var(--space-md)
  }
  .small{
    position: absolute;
    right: 6.5rem;
    top: 0.5rem;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 375px){
  .burger{
    display: flex;
    z-index: 5;
  }
  .navLinks{
    display: none;
  }
  .desktopFav{
    display: none;
  }
  .mobileNav{
    display: flex;
    align-items: center;
  }
  .mobileLinksWrapper{
    display: flex;
  }
  .mobileNav > .mobileFav, .burger {
    margin: 0 var(--space-md)
  }
  .small{
    position: absolute;
    right: 6.5rem;
    top: 0.5rem;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 325px){
  .burger{
    display: flex;
    z-index: 5;
  }
  .navLinks{
    display: none;
  }

  .desktopFav{
    display: none;
  }
  .mobileNav{
    display: flex;
    align-items: center;
  }
  .mobileLinksWrapper{
    display: flex;
  }
  .mobileNav > .mobileFav, .burger {
    margin: 0 var(--space-md)
  }
  .small{
    position: absolute;
    right: 6.5rem;
    top: 0.5rem;
    width: 30px;
    height: 30px;
  }
}
