.card{
  min-height: 240px;
  position: relative;
  width: 325px;
  height: 100%;
  max-height: 575px;
  border-radius: var(--radius-lgr);
  box-shadow: 0 10px 8px rgb(154 160 185 / 5%), 0 6px 8px rgb(166 173 201 / 20%);
  margin: var(--space-sm) auto;
  background-color: var(--card);
  background-image: url('../../public/svgs/ttten.svg');
  flex-basis: auto;
}



.cardTop{
  max-width: 325px;
  background-image: url('../../public/svgs/cardtop.svg');
  height: 115px;
  /* margin: auto 0; */
  border-radius:var(--radius-lg);
  border: 1px solid var(--header);
  display: flex;
  flex-shrink: 0;
      box-shadow: 0 3px 2px rgb(154 160 185 / 5%), 0 3px 2px rgb(166 173 201 / 20%);
}

.cardName{
  text-align: left;
  color:var(--main);
  width: 270px;
  height: 115px;
  display: flex;
  padding-left: 2.25rem;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.cardNameText{
  color:var(--card);
  font-size: var(--font-size-card);
  font-weight: 600;
}


.heartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50px;
  border-radius: var(--radius-lg);
  margin: 0 var(--space-lg);
  padding-top: var(--space-md);
  transform: rotate(-45deg);
}

.cardMiddle{
  max-width: 325px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  flex-shrink: 0;

}

.smallInfo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  margin: var(--space-ss) 0 var(--space-icon) 0;
}

.timeInfo{
  font-size: 12px;
  font-weight: 400;
  color: var(--header);
  padding: var(--space-icon) var(--space-icon);
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border-radius: var(--space-sm);
  box-shadow: 2px 2px 2px rgb(154 160 185 / 10%), 0 -2px 2.5px rgb(166 173 201 / 10%);
}
.timeInfo > * {
  margin: 0 var(--space-icon);
}

.refreshImage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardRegion{
  font-size: 12px;
    font-weight: 400;
  color: var(--header);
padding: var(--space-icon) var(--space-ss);
  border-radius: var(--space-sm);
  background-color: var(--secondary);
  box-shadow: 2px 2px 2px rgb(154 160 185 / 10%), 0 -2px 2.5px rgb(166 173 201 / 10%);




}

.cardDescription{
border-radius: var(--radius-sm);
width: 100%;
max-width: 275px;
text-align: center;
margin: var(--space-ss) 0;
padding: var(--space-ss) 0;
background-color: var(--card);
/* box-shadow: 2px 2px 2px rgb(154 160 185 / 10%), 0 -2px 2.5px rgb(166 173 201 / 10%); */
}

.cardDescription > p{
  color: var(--header);
  margin: var(--space-sm);
  font-weight: 700;
}

.cardBottom{
  display: flex;
  flex-direction: row;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  max-height: 300px;
  margin: var(--space-ss) var(--space-sm);
  flex-shrink: 0;



}

.linksContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card);
  padding: var(--space-ss);
  width: 20%;
 max-height: 200px;
  margin: var(--space-sm);
    margin-top: 0;
  border-radius: var(--radius-sm);
  box-shadow: 4px 4px 4px rgb(154 160 185 / 10%), 0 -4px 5px rgb(166 173 201 / 10%);
}

.linksHeader{
  margin: var(--space-ss) ;
  font-size: var(--font-size-md);
  color: var(--header);

}
.visitIcon{
  padding: var(--space-ss) var(--space-icon);
  margin: var(--space-icon);
  background-color: var(--button);
  display: flex;
  justify-content: center;
  border-radius: var(--radius-lg);
}


.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* max-height: 220px; */
  /* width: 300px; */
  height: 100%;
  margin: 0 auto;
  list-style: none;
  max-width: inherit;
  width: 100%;
  /* box-shadow: 4px 4px 4px rgb(154 160 185 / 10%), 0 -4px 5px rgb(166 173 201 / 10%); */


}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.imageContainer:hover{
  transform: scale(1.02);
}


.cardImagesContainer{

}

.linksDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  gap: var(--space-md);
  width: 100%;
}


.visitIcon:hover{
  cursor: pointer;
}







/* HEART BUTTON */

.favourite {
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  display:inline-block;
  height: 30px;
  margin: 0 10px;
  width: 30px;
  opacity: 1;
  right: 0.5rem;
  bottom: 2.5rem;
  box-shadow:  -0.5px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out ;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out ;

  position: absolute;
  filter: grayscale();
}



.favourite:before,
.favourite:after {
  content: "";
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  box-shadow: 3px 0.5px 10px rgba(128, 128, 128, 0.1 );
}

.favourite:before {
  top: -15px;
  left: 0;
}

.favourite:after {
  left: 15px;
  top: 0;
}

.favouriteActive {
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  height: 30px;
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
  transform: scale(1.2);
  position: absolute;
  right: 0.5rem;
  bottom: 2.5rem;
  -webkit-transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s ;
  transition: all ease-in-out 0.6s ;
  box-shadow:  -3px 0.5px 5px rgba(0, 0, 0, 0.2)
}

.favouriteActive:before,
.favouriteActive:after {
  content: "";
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  /* box-shadow: 5px 0.5px 5px rgba(255, 232, 232, 0.1)  ; */
}

.favouriteActive:before {
  top: -15px;
  left: 0;
}

.favouriteActive:after {
  left: 15px;
  top: 0;
}
