.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.innerWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-md) 0;
  background-color: var(--main);
  width: inherit;
}

.cGrid{
  display: grid;
  width: 100%;
}

.categoryGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(325px, 1fr));
  grid-gap: var(--space-lg);
  width: 100%;
  margin: var(--space-md) 0;
  padding: var(--space-md) var(--space-xl-card);
  background-color: var(--main);
  border-radius: var(--radius-sm);
  list-style: none;
}

.textDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-lgr);
  text-align: center;
  background-color: var(--header);
}
.imageWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--space-lgr);

}
.subHeader{
  font-size: var(--font-size-md);
  width: 20ch;

  color: var(--card);
}

.header{
  line-height: 1.5;
  letter-spacing: 0.6rem;
  padding-left: var(--space-sm);
  font-size: var(--font-size-tablet-lg);
  width: 15ch;
  color: var(--card);
}

@media only screen and (max-width: 1200px) {

  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .subHeader{
    font-size: var(--font-size-md);
  }
  .categoryGrid{
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
/* .innerWrapper{
  flex-direction: column;
} */
  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .subHeader{
    font-size: var(--font-size-md);
  }
  .textDiv, .imageWrapper{
    margin: var(--space-sm);
  }
  .categoryGrid{
    padding: var(--space-md) var(--space-sm);
  }
}

@media screen and (max-width: 720px){
  .innerWrapper{
    flex-direction: column;
  }
  .textDiv, .imageWrapper{
    margin: var(--space-sm);
  }
  .header{
    font-size: var(--font-size-lg);
  }
  .subHeader{
    font-size: var(--font-size-md);
  }
  .textDiv, .imageWrapper{
    margin: var(--space-sm);
    padding: var(--space-sm);
  }
  .textDiv{
    width: 100%;
    margin-top: 0;

  }
  .categoryGrid{
    padding: var(--space-md) var(--space-sm);
  }
}

@media screen and (max-width: 414px){

  .header{
    font-size: var(--font-size-lg);
  }
  .subHeader{
    font-size: var(--font-size-md);
  }
  .innerWrapper{
    flex-direction: column;
  }
  .categoryGrid{
    padding: var(--space-md) var(--space-sm);
  }
  .textDiv, .imageWrapper{
    margin: var(--space-sm);
    padding: var(--space-sm);
  }
  .textDiv{
    width: 100%;
    margin-top: 0;

  }

}

@media screen and (max-width: 375px){

  .header{
    font-size: var(--font-size-lg);
  }
  .subHeader{
    font-size: var(--font-size-md);
  }
  .innerWrapper{
    flex-direction: column;
  }
  .textDiv, .imageWrapper{
    margin: var(--space-sm);
    padding: var(--space-sm);
  }
  .categoryGrid{
    padding: var(--space-md) var(--space-sm);
  }
  .textDiv{
    width: 100%;
    margin-top: 0;

  }
}

@media only screen and (max-width: 325px){

  .header{
    font-size: var(--font-size-lg);
  }
  .subHeader{
    font-size: var(--font-size-sm);
  }
  .innerWrapper{
    flex-direction: column;
  }
  .textDiv, .imageWrapper{
    margin: var(--space-md);
    padding: var(--space-sm);
  }
  .categoryGrid{
    padding: var(--space-md) var(--space-sm);
  }
  .textDiv{
    width: 100%;
    margin-top: 0;
  }
}
