.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);

  min-height: 100vh;

}

.wrapper > * {
  margin: var(--space-lg);
}
.copyWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--space-lgr);
  order: 2;
  width: 100%;
}

.arrow{
  transform: rotate(90deg);
}

.innerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: var(--space-lg);
  padding: var(--space-lg);
  background-color: var(--card);

}

.header{
  font-size: var(--font-size-tablet-lgr);
  text-align: center;
  width: 100%;
  max-width: 15ch;
  line-height: 1.5;
  color: var(--header);
  font-weight: 600;

}

.cardWrapper{
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-lg);
  width: 100%;

}

.cardHeader{
  color: var(--header);
  width: 30ch;
  text-align: center;
  /* padding:var(--space-md) 0; */
}

.card{
  min-height: 240px;
  position: relative;
  width: 325px;
  /* max-height: 475px; */
  border-radius: var(--radius-lgr);
  box-shadow: 0 10px 8px rgb(154 160 185 / 5%), 0 6px 8px rgb(166 173 201 / 20%);
  margin: var(--space-sm);
  background-image: url('../../public/svgs/ssspot.svg')
}

.card::before{
  content: "Tap to change";
  background-color: var(--secondary);
  color: var(--card);
  border-radius: 100%;
  position:absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  top: -3rem;
  right: 0;
  z-index: 2;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items:center;

}

.card::after{
  content: "";
  background-color: var(--main);
  padding: var(--space-sm);
  border-radius: 100%;
  position:absolute;
  width: 70px;
  height: 70px;
  text-align: center;
  top: -3.31rem;
  z-index: 1;
  right: -0.28rem;
  animation: spin 2s infinite ease-in-out;

}

@keyframes spin{
  0% {
    transform: scale(0.9)
  }
  50%{
    transform: scale(1)
  }
  100%{
    transform: scale(0.9);
  }
}

.cardTop{
  max-width: 325px;
  background-image: url('../../public/svgs/cardtop.svg');
  height: 115px;
  margin: auto 0;
  border-radius:var(--radius-lg);
  border: 1px solid var(--header);
  display: flex;
      box-shadow: 0 3px 2px rgb(154 160 185 / 5%), 0 3px 2px rgb(166 173 201 / 20%);
}

.cardName{
  text-align: left;
  color:var(--main);
  width: 270px;
  height: 115px;
  display: flex;
  padding-left: 2.25rem;
  font-size: var(--font-size-card);
  font-weight: 600;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden;
}


.heartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50px;
  border-radius: var(--radius-lg);
  margin: 0 var(--space-md);
  padding-top: var(--space-md);
}

.cardMiddle{
  max-width: 325px;
  text-align: center;
}

.cardRegion{
  font-size: 12px;
    font-weight: 700;
    color: #15202b;
    padding: 0.5rem 0 0.25rem 0;
    margin: 0 0.5rem;
    border-radius: var(--radius-lg);


}

.cardDescription{
  margin: 0.25rem auto;
border-radius: var(--radius-lg);
padding: 0.25rem 1rem;
width: 275px;
background-color: var(--card);
color: var(--header);
}

.cardBottom{
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  padding: 0 0 1rem;
  min-height: 150px;
  align-items: center;

}

.linksContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card);
  padding: 0.5rem;
  width: 75px;
height: 100%;
margin: 0.25rem 0.5rem;
border-radius: var(--radius-lg);
  box-shadow: 2px 2px 3px rgb(154 160 185 / 10%), 0 -2px 5px rgb(166 173 201 / 10%);
}

.linksContainer > *{
  margin: var(--space-sm);
}
.grid{
  display: grid;
  /* padding: 0.25rem 0.25rem 0 0;
  margin: 0 0.25rem; */
  /* width: 100%;
  height: 100%; */
  max-height: 220px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 5px;
  max-width: inherit;
}
.cardImagesContainer{

}

.linksDiv{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  height: 100%;
}
.linksDiv > *{
  margin: var(--space-sm);
}


/* CARD */

.cardImageHidden{
  display: none;
}


.cardImage{
  width: 100%;
  height: 100%;
  max-width: 220px;
  margin-bottom: -0.5rem;

}

.uploadedImage {
  width: 105px;
  height: 105px;
    margin-bottom: -0.5rem;
}

.uploadedImageHidden{
  display: none;
}

.uploadWrapper{
  position: relative;
}
.imageInput{
  position: absolute;
  flex-direction: column;
  z-index: 2;
  display: none;
}

.favourite {
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  display:inline-block;
  height: 30px;
  margin: 0 10px;
    width: 30px;
  opacity: 1;
  box-shadow:  -0.5px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out ;
      -moz-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out ;

  position: absolute;
  filter: grayscale();

}



.favourite:before,
.favourite:after {
  content: "";
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  box-shadow: 3px 0.5px 10px rgba(128, 128, 128, 0.1 );

}

.favourite:before {
  top: -15px;
  left: 0;
}

.favourite:after {
  left: 15px;
  top: 0;
}

.favouriteActive {
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  height: 30px;
  margin: 0 10px;
  width: 30px;
  cursor: pointer;
  transform: rotate(-45deg) scale(1.1);

  -webkit-transition: all ease-in-out 0.6s;
      -moz-transition: all ease-in-out 0.6s;
      -o-transition: all ease-in-out 0.6s ;
      transition: all ease-in-out 0.6s ;


        /* box-shadow: -5px 0.5px 5px rgba(255, 232, 232, 0.1); */
        box-shadow:  -3px 0.5px 5px rgba(0, 0, 0, 0.2)

}

.favouriteActive:before,
.favouriteActive:after {
  content: "";
  background-image: radial-gradient(closest-side at 60% 55%, var(--secondary), #A8E7E9, var(--secondary));
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  /* box-shadow: 5px 0.5px 5px rgba(255, 232, 232, 0.1)  ; */


}

.favouriteActive:before {
  top: -15px;
  left: 0;
}

.favouriteActive:after {
  left: 15px;
  top: 0;
}

.s3button{
  background-color: var(--button);
  color: var(--card);
  border-radius: var(--radius-sm);
  border: 0;
  padding: var(--space-sm);
  margin: var(--space-lg);
  width: 100%;
  max-width: 150px;
  height: var(--button-height);
  letter-spacing: 0.05rem;
  justify-self:center;
  align-self: center;
}


@media only screen and (max-width: 1200px) {
  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .cardHeader{
    font-size: var(--font-size-tablet-sm);
  }

}

@media only screen and (max-width: 992px) {
  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .copyWrapper{
    padding: var(--space-sm) 0;
  }
  .innerWrapper{
    padding: var(--space-lg) 0;

  }

}

@media screen and (max-width: 720px){
  .wrapper{
    flex-direction: column;
  }

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .copyWrapper{
    padding: var(--space-sm) 0;
    order: 1;

  }
  .innerWrapper{
    flex-direction: column;
    padding: var(--space-lg) 0;
  }
  .cardWrapper{
    margin: 0;
    order: 2;
  }
  .arrow{
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 414px){

  .wrapper{
    flex-direction: column;

  }
  .copyWrapper{
    margin: var(--space-sm) 0;
    order: 1;
    margin: 0

  }
  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .innerWrapper{
    flex-direction: column;
    padding: var(--space-lg) 0;
  }
  .cardWrapper{
    margin: 0;
    order: 2;
  }
  .arrow{
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 375px){

  .wrapper{
    flex-direction: column;

  }
  .copyWrapper{
    margin: var(--space-sm) 0;
    order: 1;

  }
  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .innerWrapper{
    flex-direction: column;
    padding: var(--space-lg) 0;
  }
  .arrow{
    transform: rotate(0deg);
  }
  .cardWrapper{
    margin: 0;
    order: 2;
  }
}

@media only screen and (max-width: 325px){

  .wrapper{
    flex-direction: column;
    max-height: 100vh;
  }

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .copyWrapper{
    padding: var(--space-sm);
    order: 1;
  }

  .innerWrapper{
    flex-direction: column;
    padding: var(--space-lg) 0;
  }

  .arrow{
    transform: rotate(0deg);
  }
  .cardWrapper{
    margin: 0;
  }


}
