.cubeHolder{
  background-image: url('../../public/images/cube.svg');
  background-repeat: no-repeat;
  position: relative;
  bottom: -1rem;
  overflow-y: hidden;

}

.wrapper{
  display: flex;
  max-height: 80vh;
  height: 100%;
  margin-top: var(--space-lg);
  overflow: hidden;

}
.copyWrapper{
  justify-self:center;
  align-self: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  left: 3rem;
}


.header{
  font-size: var(--font-size-tablet-lgr);
  text-align: center;
  width: 100%;
  margin: 0;
  max-width: 15ch;
  line-height: 2;
  color: var(--header);
  font-weight: 600;
  opacity: 0;
}
.headerInView{
  opacity: 1;
  transition: 1s ease-in-out;
  transition-delay: 0.2s;
}
.text{
  opacity: 0;
}
.textInView{
  opacity: 1;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
}

.s2Button{
    background-color: var(--button);
    color: var(--card);
    border-radius: var(--radius-sm);
    border: 0;
    padding: var(--space-sm);
    margin: var(--space-lg);
    width: 100%;
    max-width: 150px;
    height: var(--button-height);
    letter-spacing: 0.05rem;
    justify-self:center;
    align-self: center;
  }



@media only screen and (max-width: 1200px) {
  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .copyWrapper{
    position: relative;
    left: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .header{
    font-size: var(--font-size-tablet-lg);
  }
  .copyWrapper{
    position: relative;
    left: 3rem;
  }
  .cubeHolder{
    left: 3rem;
    bottom: -2rem;

  }
  .wrapper{
    max-height: 75vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 720px){
  .wrapper{
    flex-direction: column;
    margin-top: var(--space-lg);

  }
  .copyWrapper{
    left: 0;
  }

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .text{
    text-align: center;
    width: 100%;
    margin: var(--space-md) auto;
    max-width: 22ch;
  }
}

@media screen and (max-width: 414px){

  .wrapper{
    flex-direction: column;
    overflow: hidden;
    margin-top: var(--space-lg);
    max-height: 100vh;
  }
  .copyWrapper{
    left: 0;
  }
  .cubeHolder{
    position: relative;
    left: 5rem;
    bottom: -1rem;
    margin-top: -4.5rem;
    overflow-y: hidden;
  }
  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .text{
    text-align: center;
    width: 100%;
    margin: var(--space-md) auto;
    max-width: 22ch;
  }
}

@media screen and (max-width: 375px){

  .wrapper{
    flex-direction: column;
    max-height: 100vh;
    margin-top: var(--space-lg);
  }
  .copyWrapper{
    left: 0;
  }
  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .cubeHolder{
    position: relative;
    left: 5rem;
    bottom: -1rem;
    margin-top: -4.5rem;
    overflow-y: hidden;
  }
  .text{
    text-align: center;
    width: 100%;
    margin: var(--space-md) auto;
    max-width: 22ch;
  }


}

@media only screen and (max-width: 325px){

  .wrapper{
    flex-direction: column;
    max-height: 100vh;
    margin-top: var(--space-lg);
  }
  .copyWrapper{
    left: 0;
    text-align: center;
  }

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }

  .cubeHolder{
    position: relative;
    left: 5rem;
    bottom: -1rem;
    margin-top: -4.5rem;
    overflow-y: hidden;
  }
  .text{
    text-align: center;
    width: 100%;
    margin: var(--space-md) auto;
    max-width: 22ch;
  }


}
