:root {
  --green: #3FE79E;
  --dark: #0F0235;
  --off-white: #F5F5F3;

  --background: #fef6e4;
  --header: #001858;
  --button: #f582ae;
  --button-text: #001858;
  --paragraph: #172c66;
  --main: #f3d2c1;
  --card: #fef6e4;
  --secondary: #8bd3dd;


  --space-ss: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-lgr: 2rem;
  --space-xl: 5rem;

  --min-item-width: 35ch;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-mdl: 1.2rem;
  --font-size-lg: 2rem;

  --font-size-tablet-lgr: 3.5rem;
  --font-size-tablet-lg: 3rem;
  --font-size-tablet-md: 2rem;
  --font-size-tablet-sm: 1rem;

  --delay1: 0.5s;
  --delay2: 0.6s;
  --delay3: 0.7s;

  --radius-sm: 5px;
  --radius-lg: 30px;

  --curtain-height: 98vh;
}
