.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.githubwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: var(--space-md);

}

.github{
  background-color: var(--header);
  border-radius: var(--radius-sm);
  padding: var(--space-sm);
  filter: invert(90%) sepia(10%) saturate(612%) hue-rotate(330deg) brightness(109%) contrast(99%);
  margin: var(--space-sm);
}

.github:hover{
  cursor: pointer;
}

.github:after{
  content: "Drenchoman";
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card);
}

.jobme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30ch;
}


.imageCaption{
  text-align: center;
  align-self: center;
  color: var(--header);
  background-color: var(--card);
  padding: var(--space-sm);

}
.header{
  font-size: var(--font-size-tablet-lg);
  text-align: center;
  width: 100%;
  max-width: 15ch;
  line-height: 2;
  color: var(--header);
  font-weight: 600;
  opacity: 0;
}

.subHeader{
  font-size: var(--font-size-mdl);
    color: var(--header);
}

.headerInView{
  opacity: 1;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out ;
  -moz-transition: all 0.8s ease-in-out;

}

.textWrapper{
  display: flex;
text-align: left;
flex-direction: column;
justify-content: center;
align-items: center;
width: 60ch;
background-color: var(--main);
padding: var(--space-md);
margin-bottom: var(--space-xl);
}



.aboutImage{
  align-self: center;
}

@media only screen and (max-width: 1200px) {

  .header{
    font-size: var(--font-size-tablet-lg);
  }
}

@media only screen and (max-width: 992px) {

}

@media screen and (max-width: 720px){
  .header{
    font-size: var(--font-size-lg);
  }
  .textWrapper{
    width: 30ch;
  }
}

@media screen and (max-width: 414px){

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .textWrapper{
    width: 30ch;
  }



}

@media screen and (max-width: 375px){

  .header{
    font-size: var(--font-size-lg);

  }
  .textWrapper{
    width: 30ch;
  }




}

@media only screen and (max-width: 325px){

  .header{
    font-size: var(--font-size-lg);
    width: 15ch;
  }
  .textWrapper{
    width: 30ch;
  }


}
